

img
{
	border: 0px;
}
a
{
	text-decoration:underline;
	border:0;
}
body
{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background: #e7e7e7;
	width:100%;
	height:100%;
}

.semibold
{
	font-family: 'TradeGothic';
}

.light
{
	font-family: 'TradeGothic-Light';
}

#container
{
	width:760px;
	padding:20px;
	background:#ffffff;
	margin:0px auto;
	position:relative;
	padding-top: 0px;
}

#topMenu
{
	height:160px;
	position:relative;
}

#logo
{
	width:90px;
	position:absolute;
	top:35px;
	left:0px;
}

.button
{
	background: #dddddd;
	color:#000000;
	width:140px;
	height:50px;
	text-align:center;
	line-height: 70px;
	text-transform: uppercase;
	font-family: 'TradeGothic';
	font-size:13px;
	cursor:pointer;
	position:relative;
}

#meet_us
{
	position:absolute;
	top:35px;
	right: 0px;
	
}

#description_text
{
	color:#3c3c3b;	
	font-size:17px;
	margin-bottom:10px;
	
}

#mid_holder
{
	height:370px;
	padding: 15px 0px;
	border-bottom: 2px dotted #000000;
	border-top: 2px dotted #000000;
	overflow:hidden;
}

.home_item
{
	position:relative;
	float:left;
	width:250px;
	height:370px;
	margin-right:1px;
}

.home_item_button
{
	position:absolute;
	bottom:0px;
	z-index:10;
	width:100%;
	height:41px;
	text-align: center;
	padding: 12px 0px;
	font-family: 'TradeGothic';
	font-size:17px;
	color:#3c3c3b;
	text-transform: uppercase;
	cursor:pointer;

}
.home_item_button_bg
{
	position:absolute;
	bottom:0px;
	z-index:1;
	width:100%;
	height:65px;
	background:#ffffff;
	-moz-opacity: 0.50;
	-khtml-opacity: 0.50;
	opacity: 0.50;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	filter:alpha(opacity=50);
	cursor:pointer;
}

.home_item_image
{
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width:250px;
    max-height:370px;
}

#menu_holder
{
	margin-top:10px;
	overflow:hidden;
}

.menu_item
{
	width:105px;
	margin-left:20px;
	margin-top:10px;
	float:left;
	cursor:pointer;
}
.menu_item_title
{
	font-size: 17px;
	font-family: 'TradeGothic';
	
}

.menu_sub_item
{
	color:#888888;
	font-size: 13px;
	font-family: 'TradeGothic-Light';
	
}

.mail_icon
{
	position:absolute;
	top:7px;
	left:60px;
}
.site_info_holder
{
	width:100%;
	height:20px;
	line-height:30px;
	color:#a9a9a9;
	font-size: 13px;
	font-family: 'TradeGothic';
	margin-top:-5px;
	margin-bottom:20px;
}

#tag_holder
{
	margin:10px 0px;
	font-size:11px;
	font-family: 'TradeGothic';
	color:#929291;
	
}

.tag_item, .search_tag_item
{
	font-family: 'TradeGothic-Light';
	text-decoration:underline;
	cursor:pointer;
}

.article
{
	position: relative;
	width:100%;
	margin-bottom:20px;
	overflow:hidden;
	border-bottom: 2px dotted #000000;
	border-top: 2px dotted #000000;
	
}

#isotopeHolder
{
	width:100%;
	padding:20px 0px;
	
	border-top: 2px dotted #000000;
}


.teaser_item
{
	width:245px;
	min-height:160px;
	position:relative;
	margin:15px 5px 0px 0px;
	padding-bottom:30px;
	border-bottom: 2px dotted #000000;
}

.article_teaser_img_holder
{
	width:105px;
	height:115px;
	overflow:hidden;
	position:absolute;left:0px;top:0px;
	
}

.article_teaser_img
{
	width:100%;
}

.article_teaser_headline
{
	position:relative;
	left:110px;
	top:0px;
	font-size:15px;
	color:#494949;
	font-family: 'TradeGothic';
	width: 130px;
}

.article_teaser_text
{
	position:relative;
	left:110px;
	top:10px;
	width:135px;
	font-size:13px;
	color:#979797;
	font-family: 'TradeGothic-Light';
	
}

.article_teaser_more
{
	position:absolute;
	left:110px;
	bottom:65px;
	margin-bottom: 10px;
	font-size:11px;
	text-decoration: underline;
}

#article_content
{
	position:relative;
	border-bottom: 2px dotted #000000;
    border-top: 2px dotted #000000;
    min-height:200px;
}

#article_sub_title
{
	color:#aaaaaa;
	font-family: 'TradeGothic-Light';
}
.article_content_subsite
{
	
}


.featured_item
{
	width:249px;
	height:379px;
	border-bottom: 2px dotted #000000;
	float:left;
	margin-right:4px;
	position:relative;
}

#featured_holder
{
	overflow:hidden;
	border-top:2px dotted #000000;
	padding-top:20px;
}

.featured_teaser_img_holder
{
	width:100%;
	max-height:160px;
	overflow:hidden;
	position:relative;
	left:0px;top:0px;
	
}

.featured_teaser_headline
{
	position:relative;
	left:0px;
	top:5px;
	font-size:17px;
	color:#494949;
	font-family: 'TradeGothic';
}

.featured_teaser_text
{
	position:relative;
	left:0px;
	top:10px;
	width:100%;
	font-size:13px;
	color:#979797;
	font-family: 'TradeGothic-Light';
}
.featured_teaser_more
{
	position:absolute;
	left:0px;
	bottom:98px;
	margin-bottom: 10px;
	font-size:11px;
	text-decoration: underline;
}


.featured_tag_holder
{
	position: absolute;
	bottom:0px;
	height:100px;
	font-size:11px;
	font-family: 'TradeGothic';
	color:#929291;
	overflow:hidden;
	
}

.featured_tag_holder a
{
	color:#929291;
}

#teaser_holder
{
	overflow:hidden;
}

.teaser_column
{
	width:249px;
	margin-right:4px;
	float:left;
	
}


.impact_button
{
	width:100%;
	background:#dddddd;
	height:26px;
	padding:10px 0px;
	line-height:13px;
	font-size:13px;
	font-family: 'TradeGothic';
	text-align:center;
	margin:15px 0px;
}

#article_title
{
	font-family: 'TradeGothic';
	font-size: 19px;
}

.magazine_item_title
{
	font-family: 'TradeGothic';
	text-align:center;
}


#social_holder
{
	position: relative;
    width:140px;
    height:30px;
    overflow:hidden;
	margin: 20px 310px 0px 310px;
}

.social_item
{
	float:right;
	margin-left:13px;
	width:25px;
}

.slider_container
{
	width: 760px;
	height: 370px;
}

.slider_holder
{
	width:250px;
	height:370px;
	margin-right:2px;
	float:left;
}

.top_border
{
	width: 100%;
	margin: 15px 0px;
	border-top: 2px dotted #000000;
}

.bottom_border
{
	width: 100%;
	margin: 15px 0px;
	border-bottom: 2px dotted #000000;
}
