input[type="text"], textarea {
	-webkit-border-radius: 0px;
}


#search_overlay
{
	display: none;
}


/* MOBILE MENU*/

#menu_container{display:none;}

#mobileMenu
{
	position: fixed;
	
	top: -1500px;
	left: 0px;
	width: 100%;
	z-index: 1900;
	background: #ffcd16;
}

	#mobileMenu a
	{
		text-decoration: none;
		color: inherit;
	}

#mobile_menu_button
{
	position:absolute;
	right:10px;
	top:18px;
}
.mobile_menu_item
{
	width:100%;
	height:36px;
	line-height:36px;
	text-align:center;
	margin:3px 0px;
	background: #ffcd16;
}	

.mobile_submenu
{
	position: absolute;

	top: -1500px;
	left: 0px;
	width: 100%;
	z-index: 8000;
}
	.mobile_submenu a
	{
		text-decoration: none;
		color: inherit;
	}
	
	
	.mobile_submenu_item
	{
		width:100%;
		height:36px;
		line-height:36px;
		text-align:center;
		margin:3px 0px;
		background: #ffcd16;
	}