

#lema-container.lema-container .lema-wrapper .lema-step-header
{
	border-bottom: 0px;
}

	#lema-container.lema-container .lema-wrapper .lema-step-header-text
	{
		color: #e52321;
		font-size: 23px;
		font-weight: bold;
		font-family: 'open_sans_condensedbold';
		padding-left: 0px;
	}
	
	#lema-container.lema-container .lema-wrapper .lema-step-number
	{
		display: none;
	}
	
#lema-container.lema-container .lema-wrapper .lema-step-content
{
	background-color: #ffffff;
}

	#lema-container.lema-container input.getunik-radio:checked+label
	{
		color: #000000;
	}
	
	
	#lema-container.lema-container .lema-wrapper .lema-amount-box
	{
		border: 0px;
		border-radius: 5px;
	}
	
	#lema-container.lema-container .lema-wrapper .lema-amount-box.lema-active
	{
		background-color: #ffcd16;
		border: 0px;
		color: #000000;
	}
	
	
#lema-container.lema-container .lema-wrapper .lema-step-row-amounts
{
	border-top: 0px;
}

	#lema-container.lema-container input.getunik-radio:checked+label:before
	{
		background-image: url('../img/lema_radio_checked.png');
	}
	
	#lema-container.lema-container input.getunik-radio+label:before
	{
		background-image: url('../img/lema_radio_unchecked.png');
	}
	
	
#lema-container.lema-container .lema-tabs li.active>a, #lema-container.lema-container .lema-tabs li.active>a:hover, #lema-container.lema-container .lema-tabs li.active>a:focus
{
	color: #000000;
	border-bottom: solid 3px #000000;
}

#lema-container.lema-container .lema-button
{
	background: #e52321;
}

.select2-results .select2-highlighted
{
	background: #000000;
}

#lema-container.lema-container input.getunik-radio+label
{
	margin-top: -9px;
}

#lema-container.lema-container input.getunik-checkbox+label:before
{
	background-image: url('../img/lema_checkbox_unchecked.png');
}

#lema-container.lema-container input.getunik-checkbox:checked+label:before
{
	background-image: url('../img/lema_checkbox_checked.png');
}

#lema-container.lema-container input.getunik-checkbox:checked+label
{
	color: #000000;
}

#lema-container.lema-container .lema-summary-check-text
{
	background: url('../img/summary_icon.png') center top no-repeat;
}

#lema-container.lema-container .lema-button-small
{
	border: 0px;
}

#lema-container.lema-container .lema-wrapper .lema-success-content
{
	background: url('../img/success_icon_besc.png') top left no-repeat;
}