body {
	font-family: Arial, Helvetica, sans-serif;
}

#login_container, #logout_container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 300px;
	width: 400px;
	height: 200px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	background-color: #4c551e;
	padding: 10px;
	color: #ffffff;
}

#login_container h1 {
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

#login_container h2 {
	font-size: 18px;
	text-align: center;
}

#login_container label {
	color: #ffffff;
	font-size: 14px;
}

#login_container form {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}

#login_container input[type="text"], #login_container input[type="password"]
	{
	font-size: 14px;
	padding-left: 3px;
	background-color: #ffffff;
}

#submitbutton {
	position: relative;
	width: 100%;
	line-height: 20px;
	background-color: #4c551e;
	border: solid 1px #ffffff;
	color: #ffffff;
	margin-top: 10px;
}

#logout_container {
	height: 100px;
	width: 250px;
}

#logout_container h3 {
	font-size: 16px;
	text-align: center;
	line-height: 100px;
	margin-top: 0px;
	margin-bottom: 0px;
}