body 
{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	overflow:auto;
	width:100%;
	height:100%;
}

#backend_container 
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: scroll;
}

#menu 
{
	position: fixed;
	width: 100%;
	text-align: right;
	background-color: #4c551e;
	line-height: 40px;
	font-size: 14px;
	color: #ffffff;;
	overflow: hidden;
	z-index: 9999;
	font-family: 'open_sansregular';
}

#menu ul 
{
	position: relative;
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}

#menu li 
{
	position: relative;
	float: right;
	margin-left: 15px;
	margin-right: 15px;
}

#menu a 
{
	text-decoration: underline;
	color: inherit;
}

#sidebar 
{
	position: absolute;
	top: 40px;
	left: 0px;
	width: 250px;
	border-right: solid 1px rgba(90, 90, 90, 0.85);
	background-color: #666666;
	height: 100%;
	font-family: 'open_sansregular';
}

#sidebar ul 
{
	position: relative;
	list-style-type: none;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-left: 20px;
}

.sidebar_headline 
{
	position: relative;
	color: #ffffff;
	font-size: 20px;
	line-height: 1.4em;
}

.sidebar_menuitem 
{
	position: relative;
	color: #ffffff;
	font-size: 16px;
	line-height: 1.2em;
	margin-left: 20px;
}

.separator 
{
	position: relative;
	height: 30px;
	width: 230px;
}

#sidebar a 
{
	text-decoration: none;
	color: inherit;
}

#sidebar .submenu 
{
	font-size: 17px;
}

#sidebar img 
{
	width: 20px;
	margin-right: 5px;
}

/********************************************************************************************************
 * GLOBAL CONTENT
 *******************************************************************************************************/
#content 
{
	position: absolute;
	left: 251px;
	top: 40px;
	padding: 20px;
	min-width:1100px;
	overflow: auto;
}

.content_h1 {
	position: relative;
	font-size: 20px;
	color: #000000;
	margin-top: 10px;
	margin-bottom: 5px;
	font-family: 'open_sansbold';
	text-transform: uppercase;
}

.content_h2 {
	position: relative;
	font-size: 13px;
	color: #666666;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: 'open_sansregular';
	font-style: italic;
}

.content_h3 {
	position: relative;
	font-size: 12px;
	color: #000000;
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: 'open_sansregular';
	font-weight: bold;
}


.custom_actions
{
	position: relative;
	width: 100%;
	color: #000000;
	line-height: 40px;
	font-size: 18px;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'open_sansregular';
}


	.custom_actions ul
	{
		margin: 0px;
		padding: 0px;
		list-style-type: none;
	}
	
	.custom_actions li
	{
		float: left;
		margin-left: 5px;
		margin-right: 5px;
		border: solid 2px #ddd;
		border-radius: 5px;
		padding-left: 4px;
		padding-right: 4px;
		cursor: pointer;
	}
	
	.custom_actions li:first-child
	{
		margin-left: 0px;
	}
	
	.custom_actions li:hover
	{
		background-color: #f7f7f7;
	}	

	.custom_actions a
	{
		text-decoration: none;
		color: inherit;
	}


/********************************************************************************************************
 * BACKGROUND ORDERING
 *******************************************************************************************************/

.backgrounds_header
{
	position: relative;
	font-size: 16px;
	margin: 10px 0px;
}

#backgrounds_available, #backgrounds_active
{
	position: relative;
	float: left;
	width: 254px;
	font-family: 'open_sansregular';
	margin-right: 20px;
}

	#backgrounds_available ul, #backgrounds_active ul
	{
		margin: 0px;
		padding: 1px 2px; 
		list-style-type: none;
		border: solid 2px #666666;
		min-height: 20px;
	}
	
		.backgrounds
		{
			position: relative;
			font-size: 14px;
			color: #000000;
			border: solid 1px #666666;
			cursor: pointer;
			width: 224px;
			padding: 5px 10px;
			margin: 1px 0px;
		}
		
		.background_remove
		{
			position: absolute;
			right: 5px;
			top: 5px;
			width: 16px;
			height: 16px;
			background-image: url('../img/close.png');
			background-position: center center;
			background-repeat: no-repeat;
			display: none;
			z-index: 100;
		}
		

/********************************************************************************************************
 * FRONTPAGE ARTICLES
 *******************************************************************************************************/		

.articles_header
{
	position: relative;
	font-size: 16px;
	margin: 10px 0px;
}

#articles_available
{
	position: relative;
	float: left;
	width: 254px;
	font-family: 'open_sansregular';
	margin-right: 20px;
}
	#articles_available ul
	{
		margin: 0px;
		padding: 1px 2px; 
		list-style-type: none;
		border: solid 2px #666666;
		min-height: 20px;
	}
		
		.article_available
		{
			position: relative;
			font-size: 14px;
			color: #000000;
			border: solid 1px #666666;
			cursor: pointer;
			width: 224px;
			padding: 5px 10px;
			margin: 1px 0px;
		}

		.no_articles_available
		{
			font-size: 12px;
			font-style: italic;
			line-height: 20px;
			display: none;
			text-align: center;
		}
		
	#articles_available .article_active
	{
		display: none;
	}

#articles_active
{
	position: relative;
	float: left;
}

	#articles_active_container
	{
		position: relative;
		width: 780px;
		background-color: white;
		padding: 15px 5px 5px 15px;	
		overflow: hidden;
		border: solid 2px #666666;
	}

	#articles_active ul
	{
		position: relative;
		margin: 0px;
		padding: 0px;
		list-style-type: none;
		overflow: hidden;
		min-height: 194px;
	}
	
		#articles_active li
		{
			position: relative;
			width: 250px;
			height: 194px;
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;
		}

		.article_active
		{
			position: relative;
			width: 250px;
			margin-right: 10px;
			height: 194px;
			cursor: pointer;
		}
		
			.article_active_headline
			{
				position: relative;
				width: 230px;
				background-color: #4c551e;
				color: #ffffff;
				padding: 10px;
				font-size: 14px;
				font-family: 'omnes_regularregular';
				font-weight: bold;
				height: 30px;
				display: table-cell;
				vertical-align: middle;
			}
			
			.article_active_image
			{
				position: relative;
				width: 250px;
				height: 144px;
				vertical-align: middle;
			}

		.article_remove
		{
			position: absolute;
			right: 5px;
			top: 5px;
			width: 20px;
			height: 20px;
			background-image: url('../img/close.png');
			background-position: center center;
			background-repeat: no-repeat;
			display: none;
			z-index: 1000;
			cursor: pointer;
		}
		
	#articles_active .article_available
	{
		display: none;
	}		
	
	
	
	.gallery_image_text
	{
		position: absolute;
	    left: 0px;
	    bottom: 0px;
	    width: 139px;		
	}
	
	