

.module
{
	position: absolute;
	
	width: 380px;
	
}
	.module_video
	{
		height:250px;
		width:365px;
	}
	
	.module_video_overlay
	{
		width: 100%;
		height:100%;
		position:absolute;
		z-index:100;
	}
	
	
	.module_text_image
	{
		width:365px;
		overflow:visible;
	}
	
	
	.module_link
	{
		position:absolute;
		top:15px;
		left:573px;
		width:140px;
		min-height:50px;
		padding-left:20px;
		
		
		border-left: 2px dotted #000000;
		height:95%;
		
	}
	
	.module_impact
	{
		
		width:100%;
		overflow:visible;
	}
		
		.impact_item
		{
			float:left;
			margin-right:3px;
			width:240px;
		}
		
		.impact_title
		{
		    font-size: 17px;
			min-height: 20px;
			color: #000000;
			font-family: 'TradeGothic';
			margin-bottom:10px;
		}
		
		.impact_content
		{
			width:100%;
			resize:none;
			min-height:100px;
			margin: 0px;
			padding: 0px;
			font-size: 13px;
			color:#818181;
			font-family: 'TradeGothic-Light';
		}
		
		.impact_image
		{
			width:100%;
		}
	.module_button
	{
		width: 365px;
		min-height: 16px;
		text-align:center;
		cursor:pointer;
		font-size:13px;
		color:#000000;
		background:#dddddd;
		font-family: 'TradeGothic';
		line-height:15px;
		padding:5px 0px;
		position:absolute;
	}
	
	
	.module_text
	{
		width:365px;
		font-family: 'TradeGothic-Light';
		font-size:13px;
		color:#929291;
		text-align: justify;
	}
	
		.module_text a
		{
			color: inherit;
		}
		
		.module_text li
		{
			padding-left: 15px;
		}
	
		.module_text textarea, .module_bulletpoint textarea
		{
			position: relative;
			width: 365px;
			height: 18px;
			resize: none;
			padding: 0px;
			font-size: 15px;
			overflow-y:hidden;
			vertical-align: middle;
			font-family: 'omnes_regularregular';
			border: solid 1px #000000;
			overflow: hidden;
		}
		
		
		.module_text_image textarea
		{
			position: relative;
			width: 200px;
			height: 18px;
			resize: none;
			padding: 0px;
			font-size: 15px;
			overflow-y:hidden;
			vertical-align: middle;
			font-family: 'omnes_regularregular';
			border: solid 1px #000000;
			overflow: hidden;
			float:right;
		}
		
		.module_text_image img
		{
			width:150px;
			float:left;
			margin-right:5px;
		}
		
		.module_text_clear
		{
			position: relative;
			width: 365px;
			padding: 0px;
			border: 0px;
			font-family: 'omnes_regularregular';
		}
		
		.module_text_html
		{
			/*display: none; */
		}
		
		.module_impact_html
		{
			resize:none;
			width:100%;
			height:100px;
		}
	
	
	.module_bulletpoint ul
	{
		list-style-type: none;
	}	
	
		.module_bulletpoint ul li:before
		{ 
			content:"- ";
		}
		
	
	.module_image
	{
		text-align: center;
		width:380px;
	}
		
	.module_image.focus
	{
		border: solid 1px #000000;
	}
	
		.module_image img
		{
			position: relative;
			width: auto;
			vertical-align: middle;
			width: 100%;
		}
		
	
	.module_gallery
	{
		min-height: 20px;
		width:100%;
	}
	
	.module_gallery .gallery_item_holder
	{
		width:145px;
		line-height:145px;
		overflow:hidden;
		float:left;
		margin-right:5px; 
		margin-bottom:5px;
		position:relative;
		text-align: center;
		
		
	}
		.module_gallery .gallery_item_holder .gallery_image
		{
			width: 145px;
			height: 145px;
			vertical-align: middle;
			background-repeat: no-repeat;
		    background-size: contain;
		    background-position: center;
			overflow:hidden;
		}
		
		.gallery_image_text
		{
			position: relative;
			width: 145px;
			text-align: center;
			font-size: 10px;
			line-height: 12px;
		}
		
		.gallery_image_delete
		{
			position: absolute;
			top: 3px; right:3px;
			width: 20px;
			height: 20px;
			cursor: pointer;
			background-color: #d2d2d2;
			
			background-image: url('../../backend/img/icon_close.png');
			background-repeat: no-repeat;
			background-position: center center;
		}
		
	.module_download
	{
		overflow: hidden;
	}
	
		.module_download_text
		{
			position: relative;
			float: left;
			width: 380px;
			background-color: #ffcd16;
			padding: 10px 10px;
			line-height: 30px;
			min-height: 30px;
			text-align: left;
			font-family: 'omnes_regularregular';
			font-size: 14px;
		}
		
		.module_download_button
		{
			position: relative;
			float: left;
			width: 110px;
			background-color: #ffcd16;
			padding: 10px 0px;
			background-image: url('../../backend/img/icon_download.png');
			background-repeat: no-repeat;
			background-position: center center;
			height: 30px;
			cursor: pointer;
		}